* {
    box-sizing: border-box;
}

html{
    font-family: Helvetica, sans-serif;
    max-width: 1000px;
    margin: auto;
    background-color: #efefef;
}

/* Estilos Header + Buscador + Botonera */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 5px;
    margin-top: 30px;
    max-height: 50px;
    padding: 35px;
    border-radius: 8px;
}

.buscador {
    display: flex;
    background-color: #efefef;
    border-radius: 20px;
    width: 300px;
    align-items: center;
}

.cotilleo {
    border: none;
    background-color: rgb(239, 239, 239);

}

.button {
    border: none;
    border-radius: 20%;
    margin-left: 10px;
    margin-top: 3px;
  }

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid black;
    margin-right: 10px;
}

.nombre-menu {
    font-size: small;
    margin: 5px 0;
}

.justificar {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
}

.iconos {
    margin-left: 15px;
}
 
.unirseAhora {
    text-decoration: none;
    color: rgb(11, 101, 194);
    font-size: 10px;
    font-weight: bold;
}

.inicioSesion {
    box-shadow: 0 0 0 1px;
    font-size: 10px;
    border-radius: 25px;
    padding: 10px 10px;
    color: rgb(11, 101, 194);
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    margin: 0 5px;
}

.inicioSesion:hover {
    color: white;
    background-color: bisque;
}
/* Estilos Main */

main {
   display: flex;
}

.cuadros {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 15px 25px;
}

/* Estilos Div 1.1 */

.contenido {
    flex: 25%;
    margin: 0 5px 5px 0;
}

.contenido-individual {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.titulos {
    color: rgb(172, 172, 172);
    font-weight: lighter;
    font-size: 12px;
}

.nombre-categorias {
    margin: 0px 15px;
}


/* Estilos Div 2.1 */

.contenido-2 {
    flex: 50%;
    margin-right: 5px;
}

.contenido-2-1 {
    display: flex;
    align-items: center;
}

.introduce-texto {
    border: 1px solid rgb(172, 172, 172);
    border-radius: 8px;
    align-items: center;
}

.introduce-texto img {
    margin: 5px 5px;
}

.cuadro-texto {
    border-style: none;
    justify-content: start;
    width: 350px;
    height: 100px;
}

::placeholder {
    color: rgb(11, 101, 194);
    opacity: 50%;
}

.iconos-texto {
    display: flex;
   
}

.acciones-publicacion {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.more {
    margin-left: 250px;
}

.publicacion {
    display: flex;
}

.nombre-publicacion {
    margin-left: 15px;
    color: black;
}

.texto p::first-letter{
    font-size: x-large;
}

/* Estilos Div 3.1 */ 

.contenido-3 {
    flex: 25%;
}