.contenido-2 {
  flex: 75%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
}

.persona {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.persona img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.persona-name {
  font-weight: bold;
  text-align: center;
}

.persona-username {
  font-size: 0.85rem;
  text-align: center;
}

.persona-name-username p {
  margin: 0;
}

.persona button {
  background-color: #0dbf37;
  border: none;
  padding: 5px 10px;
  color: #f5f5f5;
  border-radius: 25px;
  cursor: pointer;
}

.persona button:hover {
  opacity: 0.75;
}

.footer {
  margin-top: 300px;
  align-items: center;
  color: rgb(222, 222, 222);
  display: flex;
  justify-content: center;
  
}

.academia {
  position: fixed;
  bottom: 70px;
  right: 15px;
  z-index: 0;
  transition: 0.2s;
}

.academia:hover {
  background-color: #79C7C7;
  width: 200px;
  border-radius: 10px;
}
