:root{
    --rosa: #F59FC6;
    
}

* {
    box-sizing: border-box;
}

html{
    font-family: Helvetica, sans-serif;
    max-width: 1000px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #79C7C7;
    margin-bottom: 5px;
    margin-top: 30px;
    max-height: 50px;
    padding: 35px;
    border-radius: 8px;
}

.buscador {
    display: flex;
    background-color: #efefef;
    border-radius: 20px;
    width: 300px;
    align-items: center;
}

.cotilleo {
    border: none;
    background-color: rgb(239, 239, 239);
}

input::placeholder {
    color: black;
}

.button {
    border: none;
    border-radius: 20%;
    margin-left: 10px;
    margin-top: 3px;
  }

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid black;
    margin-right: 10px;
}

.nombre-menu {
    font-size: small;
    margin: 5px 0;
    color: white;
}

.justificar {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
}

.iconos {
    margin-left: 15px;
}
 
.unirseAhora {
    text-decoration: none;
    color: black;
    font-size: 10px;
    font-weight: bold;
}

.inicioSesionHeader {
    box-shadow: 0 0 0 1px;
    font-size: 10px;
    border-radius: 25px;
    padding: 10px 10px;
    color: black;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    margin: 0 5px;
}

.inicioSesionHeader:hover {
    color: black;
    background-color: #efefef;
}

.entradas {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    display: flex;
    border-right: 1px solid black;
    margin-right: 10px;
}

h3 {
    margin: auto;
}

.justificar {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
}

.iconos {
    margin-left: 15px;
}

/* .unirseAhora {
    text-decoration: none;
    color: rgb(49, 101, 244);
    font-size: 15px;
    font-weight: bold;
    margin: 0 15px
} */

.inicioSesion {
    box-shadow: 0 0 0 1px;
    border-radius: 25px;
    padding: 15px 15px;
    color: rgb(11, 101, 194);
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 15px;
}

h2 {
    font-weight: lighter;
    font-size: 30px;
    color: rgba(210, 114, 45, 0.917);
}

.main {
    display: flex;
    margin: 100px 0px;
}

.izquierda {
    flex: 50%;
}

.derecha {
    flex: 50%;
}

.form {
    display: flex;
    flex-direction: column;
}

#email {
    margin-top: 8px;
    width: 250px;
    height: 40px;
}

#password {
    margin-top: 8px;
    width: 250px;
    height: 40px;
}

.nombreForm {
    font-size: smaller;
    margin-top: 10px;
}

.resetPassword {
    font-style: italic;
    font-size: small;
    margin-bottom: 40px;
    margin-top: 20px;
    color:rgb(121, 154, 245);
}

.inicioSesionAzul {
    box-shadow: 0 0 0 1px;
    border-radius: 25px;
    padding: 15px 80px;
    color: white;
    background-color: rgb(11, 101, 194);
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

.inicioSesionAzul:hover {
    background-color: bisque;
}

.inicioSesion:hover {
    color: white;
    background-color: bisque;
}

.marginTop {
    display: block;
    margin-bottom: 30px;
    margin-left: 70px;
    color: rgb(11, 101, 194);
    text-decoration: none;
    font-weight: bold;
}

.footer {
    bottom: 0px;
    align-items: center;
    color: rgb(222, 222, 222);
    display: flex;
    justify-content: center;
    
}

.academia {
    position: fixed;
    bottom: 70px;
    right: 15px;
    z-index: 0;
    transition: 0.2s;
}

.academia:hover {
    background-color: #79C7C7;
    width: 200px;
    border-radius: 10px;
}