* {
    box-sizing: border-box;
}

html{
    font-family: Helvetica, sans-serif;
    max-width: 1000px;
    margin: auto;
    background-color: #ffffff;
}

/* Estilos Header + Buscador + Botonera */

.header {
     display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 2px;
    z-index: 1;
    background-color: #79C7C7;
    margin-bottom: 5px;
    margin-top: 20px;
    max-height: 50px;
    padding: 35px;
    border-radius: 8px;
}

.buscador {
    display: flex;
    background-color: #efefef;
    border-radius: 20px;
    width: 300px;
    align-items: center;
}

.cotilleo {
    border: none;
    background-color: rgb(239, 239, 239);
}

input::placeholder {
    color: black;
}

.button {
    border: none;
    border-radius: 20%;
    margin-left: 10px;
    margin-top: 3px;
  }

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid black;
    margin-right: 10px;
}

.nombre-menu {
    font-size: small;
    margin: 5px 0;
    color: white;
    text-decoration: none;
}

.justificar {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
}

.justificar a {
    text-decoration: none;
}

.iconos {
    margin-left: 15px;
}
 
.unirseAhora {
    text-decoration: none;
    color: black;
    font-size: 10px;
    font-weight: bold;
}

.inicioSesion {
    box-shadow: 0 0 0 1px;
    font-size: 10px;
    border-radius: 25px;
    padding: 10px 10px;
    color: black;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    margin: 0 5px;
}

.inicioSesion:hover {
    color: black;
    background-color: #efefef;
}

.foto-header {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.foto-header h3{
    flex: 20%;
}

.foto-header img{
    margin: 10px;
}

/* Estilos Div 1.1 */

.titulos {
    color: rgb(172, 172, 172);
    font-size: 0.7rem;
}

.text {
    height: 6rem;
    transition: 0.2;
}

.text:hover{
    height: 12rem;
}

.text::placeholder {
    text-align: top;
    opacity: 0.5;
}

.nombre-categorias {
    margin: 0px 15px;
}


/* Estilos Div 2.1 */

.btn {
    background-color: #79c7c7;
    border: none;
    color: #f5f5f5;
    border-radius: 25px;
    cursor: pointer;
    font-size: 0.8rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn:hover {
    color: black;
    background-color: rgb(219, 219, 219);
}

a{
    text-decoration: none;
}

.contenido-2 {
    flex: 50%;
    
}

.contenido-2-1 {
    display: flex;
    align-items: center;
}

.contenido-1-1

.introduce-texto {
    border: 1px solid rgb(172, 172, 172);
    border-radius: 8px;
    align-items: center;
}

.introduce-texto img {
    margin: 5px 5px;
}

.cuadro-texto {
    border-style: none;
    justify-content: start;
    width: 350px;
    height: 100px;
}

::placeholder {
    color: rgb(11, 101, 194);
    opacity: 50%;
}

.iconos-texto {
    display: flex;
   
}

.more {
    margin-left: 250px;
}

.publicacion {
    display: flex;
}

.nombre-publicacion {
    margin-left: 15px;
    color: black;
}

.texto p::first-letter{
    font-size: x-large;
}

/* Estilos Div 3.1 */ 

.contenido-3 {
    flex: 25%;
    margin-left: 5px;
}


#button-bottom {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 0;
    background-color: #79C7C7;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 3px;
    transition: 0.2s;
}

#button-bottom:hover {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: -1;
    width: 130px;
    height: 40px;
    border-radius: 8px;
    background-color: rgb(225, 225, 225);
} 

.footer {
    position: absolute;
    align-items: center;
    width: 1000px;
    color: rgb(222, 222, 222);
    display: flex;
    justify-content: center;
}

.academia {
    position: fixed;
    bottom: 100px;
    right: 15px;
    z-index: 0;
    transition: 0.2s;
}

.academia:hover {
    background-color: #79C7C7;
    width: 200px;
    border-radius: 10px;
}